@model IEnumerable<Janssen.Core.Web.Models.Student>

@{
    ViewData["Title"] = "Students List";
}
<br />
<br />
<br />
<br />
<h1>Index</h1>

<p>
    <a asp-action="Create">Add New Student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(student => student.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(student => student.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(student => student.PrevSchool)
            </th>
            <th>
                @Html.DisplayNameFor(student => student.Year)
            </th>
            <th>
                @Html.DisplayNameFor(student => student.Gender)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.ImageUrl != null)
                {
                    <img src="@Url.Content(item.ImageUrl)" style="width:60px;" alt="Image" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrevSchool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
